body {
background-color: #000000;
background-image: linear-gradient(to right, #7439B5, #0743F1, #4BCD89);
}
.btn {
background-color: #000000;
background-image: linear-gradient(to top, #7439B5, #0743F1, #4BCD89);

color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 50px;
margin: 4px 2px;
cursor: pointer;
border-radius: 50px;
border:15px solid #000000;
font-family: 'Roboto Mono', monospace;
}
