body {
background: #000000;
    background-image: linear-gradient(to right, #1341cd, #48d356);
@font-face {
    font-family: 'SF';
    src: url('https://github.com/blaisck/sfwin/raw/master/SFMono/TrueType/SFMono-Regular.ttf');
}
.btn {
background-size: 800% 800%;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 45px;
margin: 4px 2px;
cursor: pointer;
border-radius: 50px;
border:15px solid #000000;
font-family: SF;
}
.icons {
 background-size: 800% 800%;
color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 50px;
border:10px solid #000000;
font-family: SF;
}
