body {
background: #000000;
    background-image: linear-gradient(to right, #1341cd, #48d356);
@font-face {
    font-family: 'SF';
    src: url('https://github.com/blaisck/sfwin/raw/master/SFMono/TrueType/SFMono-Regular.ttf');
}
