 body {
    background: linear-gradient(to left, #25c9bc, #4679c4, #9c00d7);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
@keyframes AnimationName {
    0%{background-position:0% 63%}
    50%{background-position:100% 38%}
    100%{background-position:0% 63%}
}
.btn {
background-color: #000000;
background-image: linear-gradient(to top, #25c9bc, #4679c4, #9c00d7);

color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 50px;
margin: 4px 2px;
cursor: pointer;
border-radius: 50px;
border:15px solid #000000;
font-family: 'Roboto Mono', monospace;
}
.icons {
background-color: #000000;
background-image: linear-gradient(to top, #25c9bc, #4679c4, #9c00d7);

color: black;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 50px;
border:10px solid #000000;
font-family: 'Roboto Mono', monospace;
}
