<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://docs.google.com/u/0/nonceSigner?nonce=dh9qqlte3n6bm&amp;continue=https://doc-04-1s-docs.googleusercontent.com/docs/securesc/j0mvcof33ere6l2kdtq903kq0tj6438j/h3gnkb2b8uue3a4adfsqv19flmgig5gd/1607386800000/14906819134525502112/14623356039579911041/1U7zKganHknMhkRMOZZoQxN0bR7ZpcKpO?e%3Ddownload%26authuser%3D0&amp;hash=nicgrae3k7uekr06h3f3ukbm0dn257gg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.microsoft.msedge</string>
				<key>bundle-version</key>
				<string>45.11.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Edge</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
