body {
    margin:0px;
    padding:0;
    font-family:helvetica;
    background-image: linear-gradient(to right, #A02FE8, #4C00E7);
    color: #ffffff;
    overflow-x: hidden;
    background-color: # ;
}
a{
    text-decoration:none;
    color:#1C82E7;
}
.tweaked{
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:20px;
    background-color: #1C0B36;
    height:60px;
}
.tweaked img{
    width:60px;
    height:60px;
    float:left;
    border-radius:23.3%;
    margin-left:0px;
}
.tweaked h1{
    font-size:16px;
    margin-left:70px;
    text-align:justify;
    margin-bottom:0px;
}
.tweaked p{
    font-size:13px;
    margin-left:-25px;
    opacity:0.6;
    padding:5px;
    border-radius:5px;
    width:100px;
    text-align:justify;
    margin-top:2px;
}
.tweaked a{
    display:block;
    width:55px;
    padding:5px;
    border-radius:50px;
    float:right;
    color:#F2F7FF;
    margin-right:0px;
    border:5px solid #F2F7FF;
}
h66 {
font-size: 40px;
color: #1A1A1A;
}
.ios {
    margin:10px;
    padding:20px;
    width:80%;
    border-radius:10px;
    background-color: #F2F7FF;
    height:25px;
    font-size: 200px;
}
